Source: spoje-contractor
Section: unknown
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends: debhelper-compat (= 12), php-curl
Standards-Version: 4.5.0
Homepage: https://github.com/Spoje-NET/Contractor
Vcs-Git: https://github.com/Spoje-NET/Contractor.git
Vcs-Browser: https://github.com/Spoje-NET/Contractor

Package: spoje-contractor
Architecture: all
Replaces: abraflexi-connector
Depends: ${shlibs:Depends}, composer-debian, php-spojenet-abraflexi, php-vitexsoftware-abraflexi-bricks, php-vitexsoftware-ease-bootstrap5-widgets, php-vitexsoftware-ease-bootstrap5-widgets-abraflexi,php-vitexsoftware-abraflexi-bricks(>=1.2)
	${misc:Depends}
Description: Customize and Print your AbraFlexi Contracts
 External Contract Application for AbraFlexi.
