```Array
(
    [id] => 2339
    [lastUpdate] => 2024-04-15T14:18:16.806+02:00
    [kod] => 350801
    [nazev] => Internet tarif
    [nazevA] =>
    [nazevB] =>
    [nazevC] =>
    [poznam] =>
    [popis] =>
    [sablona] => false
    [smlouvaOd] => 2024-04-10+02:00
    [smlouvaDo] =>
    [datumPodepsani] => 2024-04-10+02:00
    [datumUcinnosti] => 2024-04-10+02:00
    [frekFakt] => 1
    [den] => 1
    [mesic] =>
    [zpusFaktK] => zpusobFakt.dopredu
    [zpusFaktK@showAs] => Fakturovat dopředu
    [dnyFakt] =>
    [varSym] =>
    [cisDosle] =>
    [cisSmlProti] => 35080110042024
    [autoGen] => true
    [autoMail] => true
    [autoProdl] => true
    [autoProlong] =>
    [autoZakazka] => false
    [datVystZDuzp] => false
    [generovatNuloveFaktury] => true
    [ignorovatTypSml] => true
    [preplatky] => false
    [varSymFakt] => true
    [stitky] =>
    [pocetPriloh] => 0
    [katastrUzemi] =>
    [parcela] =>
    [vypovedniLhuta] =>
    [datZaloz] =>
    [datVypoz] =>
    [typDoklFakSplatDny] => 14
    [firma_nazev] => Diana Macečková
    [typSml] => code:INTERNET
    [typSml@ref] => /c/spoje_net_s_r_o_/typ-smlouvy/1
    [typSml@showAs] => INTERNET: Internet tarif
    [firma] => Array
        (
            [id] => 5241
            [lastUpdate] => 2024-08-30T09:51:05.084+02:00
            [kod] => 03508
            [nazev] => Diana Macečková
            [nazevA] =>
            [nazevB] =>
            [nazevC] =>
            [poznam] =>
            [popis] =>
            [platiOd] => 0
            [platiDo] => 9999
            [ulice] => Stará Kysibelská 639/21
            [mesto] => Karlovy Vary
            [psc] => 360 20
            [tel] =>
            [mobil] => +420721933793
            [fax] =>
            [email] => dianamaceckova@gmail.com
            [www] =>
            [stat] => code:CZ
            [stat@ref] => /c/spoje_net_s_r_o_/stat/39
            [stat@showAs] => Česká republika
            [eanKod] =>
            [ic] =>
            [dic] =>
            [postovniShodna] => true
            [faEanKod] =>
            [faJmenoFirmy] =>
            [faUlice] =>
            [faMesto] =>
            [faPsc] =>
            [splatDny] =>
            [limitFak] => 0.0
            [limitPoSplatDny] =>
            [limitPoSplatZakaz] => false
            [platceDph] => false
            [formExportK] =>
            [typVztahuK] => typVztahu.odberatel
            [typVztahuK@showAs] => Odběratel
            [kodPojistovny] =>
            [nazevPojistovny] =>
            [osloveni] =>
            [slevaDokl] => 0.0
            [obpAutomHotovo] => false
            [nazev2] =>
            [nazev2A] =>
            [nazev2B] =>
            [nazev2C] =>
            [nespolehlivyPlatce] => false
            [revize] => 0
            [stitky] => UPOMINKA1
            [pocetPriloh] => 0
            [katastrUzemi] =>
            [parcela] =>
            [datNaroz] =>
            [rodCis] =>
            [datZaloz] =>
            [canceled] => false
            [isdocPrilohaMailuK] => isdocPrilohaMailu.podleTypDokl
            [isdocPrilohaMailuK@showAs] => Podle typu dokladu
            [skupFir] =>
            [stredisko] =>
            [faStat] =>
            [zodpOsoba] =>
            [skupCen] =>
            [formaUhradyCis] =>
            [kontakty] => Array
                (
                    [0] => Array
                        (
                            [id] => 3611
                            [lastUpdate] => 2024-04-10T13:19:17.404+02:00
                            [ulice] => Stará Kysibelská 639/21
                            [mesto] => Karlovy Vary
                            [psc] => 360 20
                            [stat] => code:CZ
                            [stat@ref] => /c/spoje_net_s_r_o_/stat/39
                            [stat@showAs] => Česká republika
                            [tel] =>
                            [mobil] => +420721933793
                            [fax] =>
                            [email] => dianamaceckova@gmail.com
                            [www] =>
                            [popis] =>
                            [poznam] =>
                            [prijmeni] => Macečková
                            [jmeno] => Diana
                            [osloveni] =>
                            [titul] =>
                            [titulZa] =>
                            [funkce] =>
                            [oddeleni] =>
                            [primarni] => true
                            [odesilatFak] => false
                            [odesilatObj] => false
                            [odesilatNab] => false
                            [odesilatPpt] => false
                            [odesilatSkl] => false
                            [odesilatPok] => false
                            [datNaroz] => 1989-05-05+02:00
                            [rodCis] =>
                            [stitky] =>
                            [pocetPriloh] => 0
                            [username] =>
                            [firma] => code:03508
                            [firma@ref] => /c/spoje_net_s_r_o_/adresar/5241
                            [firma@showAs] => 03508: Diana Macečková
                            [prilohy] => Array
                                (
                                )

                        )

                )

            [mistaUrceni] => Array
                (
                    [0] => Array
                        (
                            [id] => 595
                            [lastUpdate] => 2024-04-10T13:01:18.678+02:00
                            [ulice] => Za Strahovem 589/21
                            [mesto] => Praha 6 - Břevnov
                            [psc] => 169 00
                            [stat] => code:CZ
                            [stat@ref] => /c/spoje_net_s_r_o_/stat/39
                            [stat@showAs] => Česká republika
                            [tel] =>
                            [mobil] =>
                            [fax] =>
                            [email] =>
                            [www] =>
                            [eanKod] => 22153969
                            [nazev] => Byt č. 21
                            [popis] =>
                            [poznam] =>
                            [nazev2] => byt21.zastrahovem21
                            [stitky] =>
                            [primarni] => true
                            [mistoPlneni] => true
                            [firma] => code:03508
                            [firma@ref] => /c/spoje_net_s_r_o_/adresar/5241
                            [firma@showAs] => 03508: Diana Macečková
                            [kontaktOsoba] =>
                        )

                )

            [prilohy] => Array
                (
                )

        )

    [firmaFakt] => code:03508
    [firmaFakt@ref] => /c/spoje_net_s_r_o_/adresar/5241
    [firmaFakt@showAs] => 03508: Diana Macečková
    [zakazka] => code:ZASTRAHOVEM21#9857
    [zakazka@ref] => /c/spoje_net_s_r_o_/zakazka/111
    [zakazka@showAs] => ZASTRAHOVEM21#9857: Za Strahovem 589/21
    [stredisko] => code:INTERNET
    [stredisko@ref] => /c/spoje_net_s_r_o_/stredisko/4
    [stredisko@showAs] => INTERNET: Internet a síťové služby
    [typDoklFak] => code:FAKTURA
    [typDoklFak@ref] => /c/spoje_net_s_r_o_/typ-faktury-vydane/6
    [typDoklFak@showAs] => FAKTURA: Faktura - daňový doklad
    [konSym] =>
    [stavSml] => code:AKTIVNI
    [stavSml@ref] => /c/spoje_net_s_r_o_/stav-smlouvy/1
    [stavSml@showAs] => AKTIVNI: Aktivní
    [typDoklFakStredisko] => code:C
    [typDoklFakStredisko@ref] => /c/spoje_net_s_r_o_/stredisko/1
    [typDoklFakStredisko@showAs] => C: Centrála
    [typDoklFakCinnost] =>
    [typDoklFakBspBan] => code:HLAVNI FIO
    [typDoklFakBspBan@ref] => /c/spoje_net_s_r_o_/bankovni-ucet/1
    [typDoklFakBspBan@showAs] => HLAVNI FIO (2800061687/2010)
    [zodpOsoba] => code:kancelar
    [zodpOsoba@ref] => /c/spoje_net_s_r_o_/uzivatel/39
    [zodpOsoba@showAs] => Kaššová Martina
    [kontaktOsoba] => 3611
    [kontaktOsoba@ref] => /c/spoje_net_s_r_o_/kontakt/3611
    [kontaktOsoba@showAs] => Macečková Diana
    [polozkySmlouvy] => Array
        (
            [0] => Array
                (
                    [id] => 4695
                    [lastUpdate] => 2024-04-15T14:18:06.907+02:00
                    [kod] => BREVNOVNETBASIC
                    [nazev] => Brevnov.Net Basic
                    [nazevA] =>
                    [nazevB] =>
                    [nazevC] =>
                    [popis] =>
                    [poznam] =>
                    [cisRad] => 1
                    [platiOdData] => 2024-04-10+02:00
                    [platiDoData] =>
                    [frekFakt] => 1
                    [den] => 1
                    [mesic] =>
                    [zpusFaktK] => zpusobFakt.dopredu
                    [zpusFaktK@showAs] => Fakturovat dopředu
                    [dnyFakt] =>
                    [varSym] =>
                    [cenaRucne] => false
                    [cenaMj] => 330.58
                    [mnozMj] => 1.0
                    [cenaCelkem] => 330.58
                    [dphRucne] => false
                    [typCenyDphK] => typCeny.bezDph
                    [typCenyDphK@showAs] => bez DPH
                    [typSzbDphK] => typSzbDph.dphZakl
                    [typSzbDphK@showAs] => základní
                    [sleva] => 0.0
                    [extGener] => false
                    [datPoslFaktObd] => 2024-04-30+02:00
                    [autoGen] => true
                    [valorizovat] => false
                    [valorizovatMesic] =>
                    [stitky] =>
                    [pocetPriloh] => 0
                    [cisDosle] =>
                    [smlouva] => code:350801
                    [smlouva@ref] => /c/spoje_net_s_r_o_/smlouva/2339
                    [smlouva@showAs] => 350801: Internet tarif
                    [cenik] => code:BREVNOVNETBASIC
                    [cenik@ref] => /c/spoje_net_s_r_o_/cenik/4810
                    [cenik@showAs] => BREVNOVNETBASIC: Brevnov.Net Basic
                    [sklad] => 
                    [misto] => 595
                    [misto@ref] => /c/spoje_net_s_r_o_/misto-urceni/595
                    [misto@showAs] => Byt č. 21, Za Strahovem 589/21, Praha 6 - Břevnov
                    [typUcOp] => code:TRŽBA SLUŽBY INT
                    [typUcOp@ref] => /c/spoje_net_s_r_o_/predpis-zauctovani/86
                    [typUcOp@showAs] => TRŽBA SLUŽBY INT: Tržby z prodeje služeb internet
                    [typDoklFak] => code:FAKTURA
                    [typDoklFak@ref] => /c/spoje_net_s_r_o_/typ-faktury-vydane/6
                    [typDoklFak@showAs] => FAKTURA: Faktura - daňový doklad
                    [stredisko] => code:INTERNET
                    [stredisko@ref] => /c/spoje_net_s_r_o_/stredisko/4
                    [stredisko@showAs] => INTERNET: Internet a síťové služby
                    [cinnost] => 
                    [zakazka] => code:ZASTRAHOVEM21#9857
                    [zakazka@ref] => /c/spoje_net_s_r_o_/zakazka/111
                    [zakazka@showAs] => ZASTRAHOVEM21#9857: Za Strahovem 589/21
                    [banSpoj] => 
                    [firmaFakt] => 
                    [valorPolSml] => 
                    [prilohy] => Array
                        (
                        )

                )

        )

    [polozkySmlouvyExt] => Array
        (
        )

    [poslDatSplat] => 2024-04-29+02:00
    [prilohy] => Array
        (
        )

    [udalosti] => Array
        (
        )

    [ucely] => Array
        (
        )

)
```



<h1>Smlouva</h1>

Firma ID: {{ contract.firma.id }}<br>
Firma Last Update: {{ contract.firma.lastUpdate }}<br>
Firma Kod: {{ contract.firma.kod }}<br>
Firma Nazev: {{ contract.firma.nazev }}<br>
Firma Nazev A: {{ contract.firma.nazevA }}<br>
Firma Nazev B: {{ contract.firma.nazevB }}<br>
Firma Nazev C: {{ contract.firma.nazevC }}<br>
Firma Poznam: {{ contract.firma.poznam }}<br>
Firma Popis: {{ contract.firma.popis }}<br>
Firma Plati Od: {{ contract.firma.platiOd }}<br>
Firma Plati Do: {{ contract.firma.platiDo }}<br>
Firma Ulice: {{ contract.firma.ulice }}<br>
Firma Mesto: {{ contract.firma.mesto }}<br>
Firma Psc: {{ contract.firma.psc }}<br>
Firma Tel: {{ contract.firma.tel }}<br>
Firma Mobil: {{ contract.firma.mobil }}<br>
Firma Fax: {{ contract.firma.fax }}<br>
Firma Email: {{ contract.firma.email }}<br>
Firma Www: {{ contract.firma.www }}<br>
Firma Stat: {{ contract.firma.stat@showAs }}<br>
Firma Ean Kod: {{ contract.firma.eanKod }}<br>



Firma: {{ contract.firma.nazev }}<br>
Kod: {{ contract.firma.kod }}<br>
Firma: {{ contract.firma.nazev }}<br>

<br>
Číslo smlouvy: {{ contract.kod }} <br>
Název: {{ contract.nazev }} <br>
Popis: {{ contract.popis }} <br>
Sablona: {{ contract.sablona }} <br>
Kód: {{ contract.kod }} <br>
Typ smlouvy: {{ contract.typSml@showAs }} <br>
Stav smlouvy: {{ contract.stavSml@showAs }} <br>
Smlouva od: {{ contract.smlouvaOd }} <br>
Smlouva do: {{ contract.smlouvaDo }} <br>
Datum podepsání: {{ contract.datumPodepsani }} <br>
Datum účinnosti: {{ contract.datumUcinnosti }} <br>
Frekvence fakturace: {{ contract.frekFakt }} <br>
Den fakturace: {{ contract.den }} <br>
Měsíc fakturace: {{ contract.mesic }} <br>
Způsob fakturace: {{ contract.zpusFaktK }} <br>
Dny fakturace: {{ contract.dnyFakt }} <br>
Variabilní symbol: {{ contract.varSym }} <br>
Číslo dokladu: {{ contract.cisDosle }} <br>
Číslo smlouvy proti: {{ contract.cisSmlProti }} <br>
Automatická generace: {{ contract.autoGen }} <br>
Automatický e-mail: {{ contract.autoMail }} <br>
Automatické prodloužení: {{ contract.autoProdl }} <br>
Automatická prodloužení: {{ contract.autoProlong }} <br>
Automatická zakázka: {{ contract.autoZakazka }} <br>
Datum vystavení zálohové faktury: {{ contract.datVystZDuzp }} <br>
Generovat nulové faktury: {{ contract.generovatNuloveFaktury }} <br>
Ignorovat typ smlouvy: {{ contract.ignorovatTypSml }} <br>
Přeplatky: {{ contract.preplatky }} <br>
Variabilní symbol faktury: {{ contract.varSymFakt }} <br>
Štítky: {{ contract.stitky }} <br>
Počet příloh: {{ contract.pocetPriloh }} <br>
Katastrální území: {{ contract.katastrUzemi }} <br>
Parcela: {{ contract.parcela }} <br>
Výpovědní lhůta: {{ contract.vypovedniLhuta }} <br>
Datum založení: {{ contract.datZaloz }} <br>
Datum výpovědi: {{ contract.datVypoz }} <br>
Typ dokladu faktury splatnost dny: {{ contract.typDoklFakSplatDny }} <br>
Firma: {{ contract.firma@showAs }} <br>
Firma fakturace: {{ contract.firmaFakt@showAs }} <br>
Zakázka: {{ contract.zakazka@showAs }} <br>
Středisko: {{ contract.stredisko@showAs }} <br>
Typ dokladu faktury: {{ contract.typDoklFak@showAs }} <br>
Konstantní symbol: {{ contract.konSym@showAs }} <br>
Typ dokladu faktury středisko: {{ contract.typDoklFakStredisko@showAs }} <br>
Typ dokladu faktury činnost: {{ contract.typDoklFakCinnost@showAs }} <br>
Typ dokladu faktury bankovní spojení: {{ contract.typDoklFakBspBan@showAs }} <br>
Zodpovědná osoba: {{ contract.zodpOsoba@showAs }} <br>

<h2>Položky smlouvy</h2>

{% for contractItem in contract.polozkySmlouvy %}
    <strong>{{ contractItem.nazev }}</strong> <br>
    Čas poslední aktualizace: {{ contractItem.lastUpdate }} <br>
    Kód: {{ contractItem.kod }} <br>
    Název: {{ contractItem.nazev }} <br>
    Název A: {{ contractItem.nazevA }} <br>
    Název B: {{ contractItem.nazevB }} <br>
    Název C: {{ contractItem.nazevC }} <br>
    Popis: {{ contractItem.popis }} <br>
    Poznámka: {{ contractItem.poznam }} <br>
    Číslo řádku: {{ contractItem.cisRad }} <br>
    Platí od data: {{ contractItem.platiOdData }} <br>
    Platí do data: {{ contractItem.platiDoData }} <br>
    Frekvence fakturace: {{ contractItem.frekFakt }} <br>
    Den: {{ contractItem.den }} <br>
    Měsíc: {{ contractItem.mesic }} <br>
    Způsob fakturace: {{ contractItem.zpusFaktK@showAs }} <br>
    Dny fakturace: {{ contractItem.dnyFakt }} <br>
    Variabilní symbol: {{ contractItem.varSym }} <br>
    Cena ručně: {{ contractItem.cenaRucne }} <br>
    Cena za měrnou jednotku: {{ contractItem.cenaMj }} <br>
    Množství měrných jednotek: {{ contractItem.mnozMj }} <br>
    Celková cena: {{ contractItem.cenaCelkem }} <br>
    DPH ručně: {{ contractItem.dphRucne }} <br>
    Typ ceny DPH: {{ contractItem.typCenyDphK@showAs }} <br>
    Typ sazby DPH: {{ contractItem.typSzbDphK@showAs }} <br>
    Sleva: {{ contractItem.sleva }} <br>
    Externí generování: {{ contractItem.extGener }} <br>
    Datum poslední fakturační období: {{ contractItem.datPoslFaktObd }} <br>
    Automatická generace: {{ contractItem.autoGen }} <br>
    Valorizovat: {{ contractItem.valorizovat }} <br>
    Valorizovat měsíc: {{ contractItem.valorizovatMesic }} <br>
    Štítky: {{ contractItem.stitky }} <br>
    Počet příloh: {{ contractItem.pocetPriloh }} <br>
    Číslo dokladu: {{ contractItem.cisDosle }} <br>
    Smlouva: {{ contractItem.smlouva@showAs }} <br>
    Ceník: {{ contractItem.cenik@showAs }} <br>
    Sklad: {{ contractItem.sklad }} <br>
    Místo: {{ contractItem.misto }} <br>
    Typ účetní operace: {{ contractItem.typUcOp@showAs }} <br>
    Typ dokladu faktury: {{ contractItem.typDoklFak@showAs }} <br>
    Středisko: {{ contractItem.stredisko@showAs }} <br>
    Činnost: {{ contractItem.cinnost }} <br>
    Zakázka: {{ contractItem.zakazka }} <br>
    Bankovní spojení: {{ contractItem.banSpoj }} <br>
    Firma fakturace: {{ contractItem.firmaFakt }} <br>
    Valorizační položka smlouvy: {{ contractItem.valorPolSml }} <br>
    Cena: {{ contractItem.cenaCelkem }} <br>
    Množství: {{ contractItem.mnozMj }} <br>
    DPH: {{ contractItem.typCenyDphK@showAs }} <br>
    Sleva: {{ contractItem.sleva }} <br>
    <br>

{% endfor %}
